#result {
  background-color: #23221f;
  color: white;
  max-width: 350px;
  width: 155px;
  text-align: right;
}

button {
    width: 35px;
    height: 25px;
    vertical-align: middle;
}

.long_button {
    width: 75px;
    height: 25px;
}